  df-messenger {
    --df-messenger-bot-message: #000000;
    --df-messenger-button-titlebar-color: #000000;
    --df-messenger-chat-background-color: #f5f5f5;
    --df-messenger-font-color: #ffffffff;
    --df-messenger-send-icon: #000000;
    --df-messenger-user-message: #ffffff;
    --df-messenger-titlebar-font-color: #ffffff;
    }
